{% extends 'layouts/dashboard_base.html' %}
{% block dashboard_title %}Editar Miembro{% endblock %}

{% block dashboard_content %}
    <h1>Editando a: {{ profesional.nombre }}</h1>
    <p>Actualiza los datos del miembro de tu equipo.</p>

    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mt-4">
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    <a href="{% url 'gestionar_equipo' servicio.id %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}