{% extends 'layouts/navbar.html' %}
{% load static %}
{% block title %}Restablecer Contraseña - Turnos Online{% endblock %}

{% block content %}
<div class="container auth-container">
    <h1>Restablecer Contraseña</h1>
    
    <p>¿Ha olvidado su contraseña? Introduzca su dirección de correo electrónico, y le enviaremos un correo que le permitirá restablecerla.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="auth-form password_reset">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit" class="btn-submit">Restablecer mi contraseña</button>
    </form>
    
    <p style="margin-top: 20px; font-size: 0.9em;">Si tiene alguna dificultad, por favor contáctenos.</p>
</div>
{% endblock %}


{% block styles_extra %}
    <!-- Reutilizamos los mismos estilos que ya tienes para los otros formularios -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}