
.socialaccount_ballot {
    text-align: center;
    margin-top: 25px;
}
.socialaccount_ballot .socialaccount_providers {
    list-style: none;
    padding: 0;
}
.socialaccount_ballot .divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #888;
    margin-bottom: 25px;
}
.socialaccount_ballot .divider::before,
.socialaccount_ballot .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #555;
}
.socialaccount_ballot .divider:not(:empty)::before {
    margin-right: .25em;
}
.socialaccount_ballot .divider:not(:empty)::after {
    margin-left: .25em;
}

.google-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #444;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.2s;
}
.google-btn:hover {
    background-color: #f5f5f5;
}
.google-btn img {
    width: 20px;
    margin-right: 12px;
}