{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/styles/main.css'%}">
</head>
<body>
    <nav class="navbar container">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/create_task">Create Tasks</a></li>
        <li><a href="{% url 'create_project' %}">Crear projects</a></li>

    </ul>
</nav>

<main class="container">
    {% block content %}
    {% endblock %}
</main>


</body>
</html>