{% extends 'layouts/navbar.html'%}

{% block content %}

<h1>Hola, {{username}}</h1>
<h2>About</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste incidunt laudantium necessitatibus quia amet repellat ad voluptatibus officia, aperiam quas omnis fugiat totam neque aut, possimus illo error assumenda deleniti reiciendis doloremque ab officiis odio iure odit? Mollitia voluptatem exercitationem omnis quibusdam iure voluptates nobis! Debitis quaerat ratione quam facere, eaque cupiditate distinctio iste qui eius quasi illo quidem tempora commodi, facilis incidunt, ea dolore laborum magnam! Deleniti, quaerat. Dignissimos pariatur tempore eos error eveniet! Blanditiis repellat quae obcaecati, vitae fugit tempore iure rerum? Voluptate enim nesciunt eius iure ratione accusamus facere quas, molestiae quo veniam debitis quasi illo corporis?</p>
{% endblock %}