{% extends 'layouts/navbar.html' %}
{% block title %}Reserña - Turnos Online{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h1>Dejar una Reseña</h1>
        <p>Tu opinión sobre el turno en <strong>{{ turno.servicio.nombre }}</strong> el día <strong>{{ turno.fecha|date:"d/m/Y" }}</strong> es muy importante.</p>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">Enviar Reseña</button>
        </form>
    </div>
</div>
{% endblock %}