{% extends 'layouts/navbar.html' %}
{% block title %}editar perfil - Turnos Online{% endblock %}
{% block content %}
<div class="container">
    <div class="form-container">
        <h1>Editar Perfil</h1>
        <p>Aquí puedes cambiar la información de tu cuenta.</p>

        {# Este bloque mostrará los mensajes de éxito o error #}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">Guardar Cambios</button>
        </form>
    </div>
</div>

{% endblock %}