{% extends 'layouts/navbar.html' %}
{% block content %}
<h1>Servicios disponibles</h1>
<div class="contenedor-servicios">
    {% for servicio in servicios %}
    <div class="card-servicio">
        {% if user.is_authenticated %}
        <a href="{% url 'toggle_favorito' servicio.id %}" class="favorito-btn">
            {# Comprobamos si el servicio está en los favoritos del usuario logueado #}
            {% if servicio in user.servicios_favoritos.all %}
                <i class="fas fa-heart"></i> <!-- Corazón lleno -->
            {% else %}
                <i class="far fa-heart"></i> <!-- Corazón vacío -->
            {% endif %}
        </a>
        {% endif %}
        <h2>{{ servicio.nombre }}</h2>
        <p>{{ servicio.descripcion }}</p>
        <p>Dirección: {{ servicio.direccion }}</p>
        <button><a href="{% url 'servicio_detail' servicio.id %}">Solicitar turno</a></button>
    </div>
    {% endfor %}
</div>
{% endblock %}